
  @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Mukta:wght@600&family=Roboto+Mono:wght@300&display=swap');

 
  @import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Gabarito:wght@500&family=Mukta:wght@600&family=Roboto+Mono:wght@300&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


*{
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
   background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
   
}



.title{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 2s;
  /* font-family: 'Gabarito', sans-serif; */
  opacity: 60%;
  font-weight: 700;
  font-size: 3rem;
}
.title:hover{
color: antiquewhite;
}
.discription{
  margin-top: -15px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  margin-top: -5px;
 color: aliceblue;
}
.mainContainer{
  padding-left: 20px;
  display: flex;
}

.navbar-style{
  width: 100%;
}
.mystyle{
  font-family: 'Gabarito', sans-serif;
  background-color: rgba(255, 255, 255, 0.112);
  color: aliceblue;
}



.line{
  background: linear-gradient(to bottom, rgb(45, 156, 193) , rgb(51, 180, 169));
  border-radius: 10px;
  display: block;
  margin-left: 20px;
  height: 150px;
  width: 5px;
  transition: 3s;
}
.contents:hover .line{
  background: linear-gradient(to top, rgb(193, 45, 149) , rgb(180, 51, 51));
  transition: 3s;

}

.contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  transition:  2s;
}

/*  projects  */

.projectsDiv{
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex; 
  flex-direction: row;
}

.text{
  color: #ffffff84;
  font-size: 30px;
  font-weight:bold ;
 display: flex;
 justify-content: flex-start;
}
.containProjects{
 height: 100px;
 border-radius: 5px;
  display: flex;
 align-items: center;
  justify-content: space-evenly;

  background-color: rgba(255, 255, 255, 0.112);
}
.mainprojectsdiv{
  margin-right:40px ;
  margin-left: 100px;
  margin-top: 20px;
  width: 70%; 
  height: 300px; 
}
h5{
  margin-top: 5px;
  font-family: 'Source Code Pro', monospace;
  color: #ffffffa5;
  background-color: #ffffff00;
}
.projectdiv{
  margin-top: 10px;
  height: 0px;
 
}
.pj{
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ffffff52;
  width: 300px;
  height: 200px;
  cursor: pointer;
}
.pj img{
  width: 300px;
  height: 200px;
  border-radius: 5px;
  cursor: pointer;
}
.mainprojects{
  border-radius: 5px;
  display: flex;
 align-items:flex-start;
  justify-content: space-evenly;
   height: 300px; 
  background-color: rgba(255, 255, 255, 0.112);

}
.skills{
  margin-top: 30px;
width: 20%;
 margin-left: 40px;
}
.projects img{
  width: 40px;
  background-color: rgba(0, 255, 255, 0.402);


}

.projects{
  /* margin: 10px; */
  background-color: rgba(0, 255, 255, 0.595);
  width: 60px;
  height: 70px;
  transition: ease-out 1s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
 font-weight: bold;
 font-size: 60px;
}
.js{
  background-color: rgba(255, 255, 0, 0.536);
}
.css{
  background-color: rgba(221, 160, 221, 0.678);
}
.css img{
  background-color: plum;
}
.js img{
  background-color: rgba(255, 255, 0, 0.536);
}


.flex{
  margin-top: -10px;
  display: flex;
}




#logo{
  margin-top: -10px;
  width: 70px;
  margin-left: 30px;
  animation: fill 0.5s ease forwards 2.5s;
}

#logo path:nth-child(1){
  stroke-dasharray: 310.95819091796875px;
  stroke-dashoffset:310.95819091796875px ;
  animation: line-anim 2s ease-in forwards ;
}
#logo path:nth-child(2){
  stroke-dasharray: 440.044189453125px;
  stroke-dashoffset:440.044189453125px ;
  animation: line-anim 2s ease-in forwards ;
 }
 @keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
 }
 @keyframes fill {
  from {
    fill: transparent;
  }
  to{
   fill: #ffffffe2;
  }
 }